use flake
eval "./scripts/bootstrap.sh"

export CASCADE_POSTGRES_HOST=localhost
export CASCADE_POSTGRES_PORT=5432
export CASCADE_POSTGRES_USER=cascade
export CASCADE_POSTGRES_PASSWORD=cascade
export CASCADE_POSTGRES_DATABASE=cascade-dev
