{-|
Module      : {{{ _haskell_module_name }}}
Description : {{{ _haskell_module_shortdesc }}}
Copyright   : (c) {{ year }} {{ project }}
License     : MPL 2.0
Maintainer  : {{ maintainer_name }} <{{ maintainer_email }}> ({{ maintainer_comment }})
Stability   : Stable
Portability : POSIX

{{{ _haskell_module_longdesc }}}
-}
